<div class="loan-application-calculator-container">
	<lfr-drop-zone></lfr-drop-zone>
<div class="summary">
        <h3 class="component-text h3 mb-0 text-break">Summary</h3>
        <p id="summaryText" class="component-text text-paragraph mb-0 text-break">You will pay back a total of $<span id="totalPayment">0</span> over <span
                id="termMonths">0</span> months at a rate of <span id="interestRate">0%</span> representative.</p><p>The actual rate you receive will be tailored to you.</p>
    </div>
</div>