.fragment-editor-padding {
  height: 0;
  overflow: hidden;
}

body.has-edit-mode-menu .page-editor .fragment-editor-padding.show {
  height: 26px;
  min-height: 26px;
  box-sizing: border-box;
  background-color: var(--gray-100, var(--gray-100, #f7f8f9));
  text-align: right;
  font-size: var(--font-size-xs, 12px);
  line-height: 26px;
  border-radius: var(--border-radius-sm, 2px) var(--border-radius-sm, 2px) 0 0;
  padding: 0 var(--spacer-2, 8px) 0 var(--spacer-2, 8px);
  font-weight: var(--font-weight-semi-bold, 600);
}

.dynamic-badge-overlay .product-badge {
  position: absolute;
  opacity: 0;
  animation: fadeIn 1s forwards;
}

.dynamic-badge-overlay .product-badge.top-right {
  left: auto;
  bottom: auto;
}

.dynamic-badge-overlay .product-badge.bottom-right {
  top: auto;
  left: auto;
}

.dynamic-badge-overlay .product-badge.bottom-left {
  top: auto;
  right: auto;
}

.dynamic-badge-overlay .product-badge.top-left {
  right: auto;
  bottom: auto;
}

.product-badge img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
