.toggle-switch-container .switch {
  position: relative;
  display: inline-block;
  width: 3.75rem;
  height: 2.125rem;
	margin-top: 0.225rem;
}

.toggle-switch-container .switch-label {
	display: block;
}

.toggle-switch-container .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.toggle-switch-container .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--gray-300, #ccc);
  transition: .4s;
}

.toggle-switch-container .slider:before {
  position: absolute;
  content: "";
  height: 1.625rem;
  width: 1.625rem;
  left: 0.25rem;
  bottom: 0.25rem;
  background-color: var(--white, white);
  transition: .4s;
}

.toggle-switch-container input:checked + .slider {
  background-color: var(--primary, #2196F3);
}

.toggle-switch-container input:focus + .slider {
  box-shadow: 0 0 0 2px var(--white, #fff), 0 0 0 4px var(--primary, #007dad);
}

.toggle-switch-container input:checked + .slider:before {
  transform: translateX(1.625rem);
}

.toggle-switch-container .slider.round {
  border-radius: 2.125rem;
}

.toggle-switch-container .slider.round:before {
  border-radius: 50%;
}
