{
  "singleQuote": true,
  "trailingComma": "es5",
  "tabWidth": 2,
  "printWidth": 80,
  "proseWrap": "always",
  "overrides": [
    {
      "files": "*.ftl",
      "options": {
        "parser": "html",
        "htmlWhitespaceSensitivity": "strict"
      }
    }
  ]
}
