.component-tabs .navigation-bar-light .navbar-toggler {
	color: var(--body-color, #272833);
}

.component-tabs .navigation-bar-light .icon-caret-bottom {
	border-left: 5px solid transparent;
	border-radius: 4px;
	border-right: 5px solid transparent;
	border-top: 5px solid var(--body-color, #272833);
	height: 0;
	margin-left: 4px;
	margin-top: 4px;
	width: 0;
}

.component-tabs .navigation-bar-light .nav-link {
	background: none;
	border: none;
	color: var(--text-secondary-color, #6b6c7e);
}

.component-tabs .navigation-bar-light .nav-link.active {
	color: var(--body-color, #272833);
}

.component-tabs .navigation-bar-light .nav-link span:focus {
	outline: none;
}

.component-tabs .tab-panel-item {
	position: relative;
	visibility: visible;
}

.component-tabs .tab-panel-item.hidden {
	position: absolute;
	visibility: hidden;
}