<div class="timeline-fragment-container timeline-${fragmentEntryLinkNamespace}" style="--timeline-color: ${configuration.timelineColor!};">
    <div class="alert alert-info d-none mb-3" id="info-${fragmentEntryLinkNamespace}"></div>
    <div class="alert alert-danger d-none mb-3" id="error-${fragmentEntryLinkNamespace}"></div>

    <div class="timeline-line"></div>
    <div class="timeline-items" id="items-${fragmentEntryLinkNamespace}">
        <div class="timeline-status text-center p-5">Loading timeline milestones...</div>
    </div>
</div>
