<div class="timeline-fragment-container timeline-${fragmentEntryLinkNamespace}" style="--timeline-color: ${configuration.timelineColor!};" role="region" aria-label="Event Timeline">
    <div class="alert alert-info d-none mb-3" id="info-${fragmentEntryLinkNamespace}" role="alert"></div>
    <div class="alert alert-danger d-none mb-3" id="error-${fragmentEntryLinkNamespace}" role="alert"></div>

    <div class="timeline-line" aria-hidden="true"></div>
    <ol class="timeline-items list-unstyled" id="items-${fragmentEntryLinkNamespace}">
        <li class="timeline-status text-center p-5" aria-live="polite">Loading timeline milestones...</li>
    </ol>
</div>
