[#assign pageGroup = layout.getGroup() /]
[#assign siteLogo = htmlUtil.escape(themeDisplay.getCompanyLogo()) /]
[#assign siteName = htmlUtil.escape(pageGroup.getDescriptiveName()) /]
[#assign logoLink =
	themeDisplay.getPortalURL() + '/web' + themeDisplay.layout.getGroup().friendlyURL /]
<a class="custom-logo" href="${logoLink}" title="Go to">
	<img alt="${siteName}" class="mr-2" height="60" src="${siteLogo}" />

	[#if configuration.showSiteName]
	<h2 aria-level="1" class="d-md-inline-flex d-none d-sm-none site-name" role="heading">
		${siteName}
	</h2>
	[/#if]
</a>