[#assign
	readOnly = input.attributes.readOnly?? && input.attributes.readOnly
]

<div class="select-from-list">
	<div class="form-group [#if  input.errorMessage?has_content]has-error[/#if] mb-0">
		<label class="[#if !input.showLabel || !input.label?has_content]sr-only[/#if]" id="${fragmentEntryLinkNamespace}-select-from-list-input-label">
			${htmlUtil.escape(input.label)} [#if readOnly](${languageUtil.get(locale, "read-only")})[#elseif input.required][@clay["icon"] className="reference-mark" symbol="asterisk" /][/#if]
		</label>

		[#if readOnly]
			<input aria-describedby="${fragmentEntryLinkNamespace}-help-text" aria-labelledby="${fragmentEntryLinkNamespace}-select-from-list-input-label [#if  input.errorMessage?has_content]${fragmentEntryLinkNamespace}-select-from-list-input-error-message[/#if]" class="form-control" id="${fragmentEntryLinkNamespace}-select-from-list-input" name="${input.name}" placeholder="${languageUtil.get(locale, "choose-an-option")}" [#if readOnly]readonly[/#if] ${input.required?then('required', '')} type="text" [#if input.value??]value="${input.value}"[/#if] />
		[#else]
			<div class="align-items-end input-group">
				<div class="input-group-item input-group-prepend">
					<input aria-autocomplete="list" aria-controls="${fragmentEntryLinkNamespace}-listbox" aria-expanded="false" aria-labelledby="${fragmentEntryLinkNamespace}-select-from-list-input-label [#if  input.errorMessage?has_content]${fragmentEntryLinkNamespace}-select-from-list-input-error-message[/#if]" class="form-control" id="${fragmentEntryLinkNamespace}-select-from-list-input" name="" placeholder="${languageUtil.get(locale, "choose-an-option")}" role="combobox" type="text" ${input.required?then('required', '')} [#if input.attributes.selectedOptionLabel??]value="${input.attributes.selectedOptionLabel}"[/#if] />

					<input id="${fragmentEntryLinkNamespace}-value-input" name="${input.name}" type="hidden" [#if input.attributes.selectedOptionValue??]value="${input.value}"[/#if] />
					<input id="${fragmentEntryLinkNamespace}-label-input" name="${input.name}-label" type="hidden" [#if input.attributes.selectedOptionLabel??]value="${input.attributes.selectedOptionLabel}"[/#if] />
				</div>

				<span class="input-group-append input-group-item input-group-item-shrink">
					<button aria-controls="${fragmentEntryLinkNamespace}-listbox" [#if input.showHelpText && input.helpText?has_content]aria-describedby="${fragmentEntryLinkNamespace}-help-text"[/#if] aria-expanded="false" class="btn btn-secondary" type="button">
						[@clay["icon"] symbol="caret-double" /]
					</button>
				</span>

				<div class="d-none dropdown-menu select-from-list__dropdown-menu" id="${fragmentEntryLinkNamespace}-dropdown">
					<p class="mb-0 px-3 py-2 text-muted" id="${fragmentEntryLinkNamespace}-choose-option-message">
						${languageUtil.get(locale, "choose-an-option")}
					</p>

					<p class="d-none mb-0 px-3 py-2 text-muted" id="${fragmentEntryLinkNamespace}-loading-results-message">
						${languageUtil.get(locale, "loading")}
					</p>

					<p class="d-none mb-0 px-3 py-2 text-muted" id="${fragmentEntryLinkNamespace}-no-results-message">
						${languageUtil.get(locale, "no-results-were-found")}
					</p>

					<ul aria-labelledby="${fragmentEntryLinkNamespace}-label" class="list-unstyled" id="${fragmentEntryLinkNamespace}-listbox" role="listbox">
						[#assign options=(input.attributes.options)![]]
						[#assign selectedValueFoundInOptions=false]

						[#list options as option]
							[#if option?index == 10]
								[#break]
							[/#if]

							[#assign selectedOption=false]

							[#if input.value?? && option.value == input.value]
								[#assign selectedOption=true]
								[#assign selectedValueFoundInOptions=true]
							[/#if]

							<li [#if selectedOption]aria-selected="true"[/#if] class="[#if selectedOption]active[/#if] dropdown-item" data-option-label="${htmlUtil.escape(option.label)}" data-option-value="${option.value}" id="${fragmentEntryLinkNamespace}-option-${option.value}" role="option">
								${htmlUtil.escape(option.label)}
							</li>
						[/#list]

						[#if !selectedValueFoundInOptions && input.value?? && input.attributes.selectedOptionLabel??]
							<li class="dropdown-item" data-option-label="${htmlUtil.escape(input.attributes.selectedOptionLabel)}" data-option-value="${input.value}" id="${fragmentEntryLinkNamespace}-option-${input.value}" role="option">
								${htmlUtil.escape(input.attributes.selectedOptionLabel)}
							</li>
						[/#if]
					</ul>
				</div>
			</div>
		[/#if]

		[#if input.errorMessage?has_content]
			<p class="font-weight-semi-bold mt-1 text-danger" id="${fragmentEntryLinkNamespace}-select-from-list-input-error-message">
				<svg class="lexicon-icon lexicon-icon-info-circle" focusable="false" role="presentation">
					<use xlink:href="${siteSpritemap}#info-circle" />
				</svg>

				<span>
					${input.errorMessage}
				</span>
			</p>
		[/#if]

		[#if input.showHelpText && input.helpText?has_content]
			<p class="mb-0 mt-1 text-secondary" id="${fragmentEntryLinkNamespace}-help-text">
				${input.helpText}
			</p>
		[/#if]
	</div>
</div>