[#assign displayValue = 'block' /]
[#assign flexDirection = '' /]
[#if configuration.contentDisplay?contains('flex')]
  [#assign displayValue = 'flex' /]
  [#if configuration.contentDisplay?contains('row')]
    [#assign flexDirection = 'row' /]
  [#else]
    [#assign flexDirection = 'column' /]
  [/#if]
[/#if]
[#assign zoneLayoutHeaderClass="zone-layout-editor-padding" /]
[#if configuration.zoneLayoutHeader]
  [#assign zoneLayoutHeaderClass +=" show" /]
[/#if]
[#assign cssImportant = ' !important'/]
[#if configuration.allowMenuOverride]
  [#assign cssImportant = ''/]
[/#if]
<style scoped>
	  body.has-edit-mode-menu .page-editor .zone-layout-editor-padding.show {
    height: 26px;
    min-height: 26px;
    box-sizing: border-box;
    background-color: rgb(247, 248, 249);
    text-align: right;
    font-size: 12px;
    line-height: 26px;
    border-radius: 2px 2px 0 0;
    padding: 0 8px 0 8px;
    font-weight: 600;
  }
	
	.zone-layout-editor-padding {
    height: 0;
    overflow: hidden;
  }
	
	body.has-edit-mode-menu .zone-layout lfr-drop-zone .page-editor > div,
	.zone-layout > div {
		display: ${displayValue}${cssImportant};
		[#if flexDirection?has_content]
		flex-direction: ${flexDirection}${cssImportant};
		flex-wrap: ${configuration.flexWrap}${cssImportant};
		align-items: ${configuration.alignItems}${cssImportant};
		justify-content: ${configuration.justifyContent}${cssImportant};
		gap: ${configuration.flexGap}${cssImportant};
		[#else]
		flex-direction: unset${cssImportant};
		flex-wrap: unset${cssImportant};
		align-items: unset${cssImportant};
		justify-content: unset${cssImportant};
		gap: unset${cssImportant};
		[/#if]
	}
	
  body.has-edit-mode-menu .zone-layout .page-editor__no-fragments-state {
    min-width: 100px;
  }

  body.has-edit-mode-menu .zone-layout .page-editor__no-fragments-state:first-child:before {
    content: unset;
  }
</style>
<div class="zone-layout">
  <div class="${zoneLayoutHeaderClass}">Zone Layout</div>
	<lfr-drop-zone></lfr-drop-zone>
</div>