<script>
  function CommerceContext(){};
  [#if request?? && request.getAttribute??]
    [#assign commerceContext = request.getAttribute("COMMERCE_CONTEXT")! /]
  [/#if]
  [#if commerceContext??]
    CommerceContext.prototype.getChannelId = () =>
	    ${commerceContext.getCommerceChannelId()! -1};
  
	  CommerceContext.prototype.getSiteType = () =>
	    ${commerceContext.getCommerceSiteType()! -1};
	
		CommerceContext.prototype.getChannelGroupId = () =>
	    ${commerceContext.getCommerceChannelGroupId()! -1};
	
		CommerceContext.prototype.getAccountGroupIds = () => [
	    ${commerceContext.getCommerceAccountGroupIds()?join(',')} ];

	  [#assign accountEntryAllowedTypes = commerceContext.getAccountEntryAllowedTypes() /]
		CommerceContext.prototype.getAccountEntryAllowedTypes = () => [
		[#if accountEntryAllowedTypes?has_content]
			[#list accountEntryAllowedTypes as accountEntryAllowedType]
			  '${accountEntryAllowedType}'
	    [/#list]
			 ];
		[/#if]

    [#assign commerceAccount = commerceContext.getCommerceAccount()! /]
  	[#if commerceAccount??]
      CommerceContext.prototype.getAccountId = () => ${commerceAccount.getCommerceAccountId()! -1};
      CommerceContext.prototype.isBusinessAccount = () => ${commerceAccount.isBusinessAccount()?c};
      CommerceContext.prototype.isPersonalAccount = () => ${commerceAccount.isPersonalAccount()?c};
    [#else]
	    CommerceContext.prototype.getAccountId = () => undefined;
	    CommerceContext.prototype.isBusinessAccount = () => undefined;
	    CommerceContext.prototype.isPersonalAccount = () => undefined;
    [/#if]
  [#else]
    CommerceContext.prototype.getChannelId = () => undefined;
    CommerceContext.prototype.getAccountId = () => undefined;
	  CommerceContext.prototype.isBusinessAccount = () => undefined;
	  CommerceContext.prototype.isPersonalAccount = () => undefined;
	  CommerceContext.prototype.getAccountGroupIds = () => undefined;
	  CommerceContext.prototype.getAccountEntryAllowedTypes = () => undefined;
  [/#if]
  
	 Liferay['CommerceContext'] = new CommerceContext();
</script>