<div class="navbar upper-header upper-header-bg upper-header-text-color" id="upperHeader">
	<div class="bg-transparent container-fluid px-7">
		<div class="align-items-center autofit-row">
			<div class="align-items-center d-line-flex logo">
				<lfr-drop-zone></lfr-drop-zone>
			</div>

			<div class="autofit-col autofit-col-expand d-lg-inline-flex d-none navbar-menu">
				<lfr-drop-zone></lfr-drop-zone>
			</div>

			<div class="autofit-col d-lg-inline-flex d-none">
				<lfr-drop-zone></lfr-drop-zone>
			</div>
[#if configuration.enableVerticalBar]
			<div class="autofit-col d-lg-inline-flex d-none vl"></div>
[/#if]
			<div class="autofit-col user-personal-bar">
				<lfr-drop-zone></lfr-drop-zone>
			</div>
		</div>
	</div>
</div>