.upper-header {
	font-size: 0.875rem;
	font-weight: 400;
	line-height: 1.5rem;
	min-height: 70px;
}

.upper-header .autofit-row {
	gap: var(--spacer-2, 8px);
	justify-content: space-between;
}

.upper-header .autofit-row .vl {
	border-right-color: white;
	border-right-color: var(--color-neutral-0, white);
	border-right-style: solid;
	border-right-width: 1px;
	height: 50%;
	min-height: 24px;
	padding: 23px 0;
}

.upper-header-bg {
	background-color: var(--color-brand-secondary, #231e18)
}

.upper-header.navbar {
	padding: unset;
}

.upper-header-text-color {
	color: white;
	color: var(--color-neutral-0, white);
}