.lower-header.navbar {
	padding: unset;
}

.lower-header-bg {
	background-color: #fff;
}

.lower-header > .container-fluid {
	flex-direction: row;
}

.lower-header-text-color {
	color: #2b395e;
	color: var(--color-brand-secondary, #2b395e);
}

.lower-header .navbar .navbar-toggler {
    align-items: center;
    color: currentColor;
    cursor: pointer;
    border: none;
    background-color: #fff;
    display: flex;
    font-size: 1rem;
    height: 70px;
    justify-content: center;
    margin: 0;
    min-width: 70px;
    padding: 14px;
    text-align: left;
}

@media(min-width: 767px) {
	.lower-header .navbar .navbar-togger {
		height: 56px;
    min-width: 56px;
    padding: 0;
	}
}

@media(min-width: 992px) {
	.lower-header .navbar {
		display: none !important;
	}
}

.account-selector .btn-account-selector {
	font-size: 0.75rem;
	margin: 0 0.75rem;
	max-width: 16rem;
}

.btn-account-selector {
	align-items: center;
	display: grid;
	gap: 12px;
	grid-template-columns: auto min-content;
	height: 70px;
	width: 300px;
}

.account-selector .btn-account-selector .account-name, .account-selector .btn-account-selector .no-account-selected-placeholder {
	font-size: 0.875rem;
	font-weight: 500;
	text-transform: capitalize;
}

.btn-account-selector .no-account-selected-placeholder {
	margin: 0;
	text-align: left;
}