[#assign is_setup_complete = user.isSetupComplete() /]
<div class="lower-header lower-header-bg lower-header-text-color navbar" id="lowerHeader">
[#if is_setup_complete]
[#assign preferences = freeMarkerPortletPreferences.getPreferences({"portletSetupPortletDecoratorId": "barebone", "destination": "/search"}) /]
	<div class="align-items-start bg-transparent container-fluid mr-5">
		<div class="col">
			<div class="navbar navbar-expand-xl">
				<button aria-controls="lowerNavigation" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#lowerNavigation" data-toggle="collapse" type="button">
					<svg class="lexicon-icon">
						<use xlink:href="${themeDisplay.getPathThemeImages()}/clay/icons.svg#bars"></use>
					</svg>
				</button>

				<div class="collapse mt-4 navbar-collapse" id="lowerNavigation">
					<div role="search">
						[@liferay.search_bar default_preferences="${preferences}" /]
					</div>
					[@liferay.navigation_menu default_preferences="${preferences}" /]
				</div>
			</div>
		</div>

		<div class="autofit-col">
			[@liferay_commerce_ui["account-selector"] /]
		</div>
		[@liferay_commerce_ui["mini-cart"] spritemap="${themeDisplay.getPathThemeImages()}/clay/icons.svg" /]
	</div>
[/#if]
</div>