[#assign ns = fragmentEntryLinkNamespace /]
<div class="fragment_103">
	<div>
		<label for="${ns}_startDate">Start date</label>
		<input id="${ns}_startDate" type="date">
	</div>
	<div>
		<label for="${ns}_endDate">End date</label>
		<input id="${ns}_endDate" type="date">
	</div>
	<div>
		<label for="${ns}_maxEntries">Max. readings</label>
		<input id="${ns}_maxEntries" type="number">
	</div>
	<div>
		<label for="${ns}_targetSteps">Steps target</label>
		<input id="${ns}_targetSteps" type="number">
	</div>
	<div>
		<button id="${ns}_refreshDashboard">Refresh</button>
	</div>
	<div>
		<button id="${ns}_syncData">Sync Data</button>
	</div>
</div>