.navbar-site {
	align-items: center;
	font-weight: inherit;
	justify-content: left;
	margin: 0 var(--spacer-7, 3rem);
	text-align: center;
	text-transform: capitalize;
}

.navbar-site .nav-item {
	border-bottom-style: solid;
	border-bottom-width: 2px;
	border-color: transparent;
	height: 70px;
	margin: 0 var(--spacer-3, 1rem);
}

.navbar-site a {
	color: inherit;
}

.navbar-site .nav-item:hover {
  border-color: var(--primary, #007dad);
  text-decoration: none;
}

.navbar-menu .portlet {
	margin-bottom: unset;
}