<div class="heatmap-fragment-container heatmap-${fragmentEntryLinkNamespace}" style="--base-color: ${configuration.baseColor!};">
    <div class="heatmap-header" data-lfr-editable-id="heatmap-title" data-lfr-editable-type="text">
        Recent Activity
    </div>
    <div class="heatmap-grid" id="grid-${fragmentEntryLinkNamespace}">
        <div class="heatmap-status">Loading activity data...</div>
    </div>
    <div class="heatmap-footer">
        <span>Less</span>
        <div class="legend">
            <div class="cell level-0"></div>
            <div class="cell level-1"></div>
            <div class="cell level-2"></div>
            <div class="cell level-3"></div>
            <div class="cell level-4"></div>
        </div>
        <span>More</span>
    </div>
</div>
