[#assign hrefSignIn = themeDisplay.getPortalURL() + "/c/portal/login" /]

[#if !themeDisplay.isSignedIn()]
   <div class="component-button text-break">
      <a
         class="btn"
         data-lfr-editable-id="link"
         data-lfr-editable-type="link"
         href="${hrefSignIn}"
         id="fragment-${fragmentEntryLinkNamespace}-link"
      >
         <span style="font-size: ${configuration.iconSize!}">
            [@clay["icon"] symbol="${configuration.iconName!}" /] Log In
         </span>
      </a>
   </div>
   [#else]
      <div class="user-menu">
         [@liferay.user_personal_bar /]
      </div>
   [/#if]