<div class="view-comments">
</div>
<template>
  <div class="comment-item-container">
    <div class="avatar-area">
      <span class="image-container">
        <img class="commenter-image">
      </span>
    </div>
    <div class="comment-area">
      <h3>
        <span class="metadata">
          <span class="commenter-name">Peter Richards</span>
          <span class="comment-date-time">13 Febuary 2025 at 00:02</span>
        </span>
      </h3>
      <span class="comment">This is an example</span>
    </div>
  </div>
</template>