<div class="fragment_201">
  <div>
    <button
      class="btn btn-${configuration.buttonSize} btn-${configuration.buttonType}"
      id="fragment-${fragmentEntryLinkNamespace}-button"
    >
      My Rights
    </button>
  </div>
  <div class="fixed-height">
    <label>
      Liferay user:
      <span id="fragment-${fragmentEntryLinkNamespace}-span"></span>
    </label>
  </div>
  <div style="display: inline-block">
    <label for="fragment-${fragmentEntryLinkNamespace}-roles">Roles</label>
    <br />
    <textarea
      rows="8"
      cols="30"
      id="fragment-${fragmentEntryLinkNamespace}-roles"
    ></textarea>
  </div>
  <div style="display: inline-block">
    <label for="fragment-${fragmentEntryLinkNamespace}-sites">Sites</label>
    <br />
    <textarea
      rows="8"
      cols="30"
      id="fragment-${fragmentEntryLinkNamespace}-sites"
    ></textarea>
  </div>
  <div style="display: inline-block">
    <label for="fragment-${fragmentEntryLinkNamespace}-usergroups"
      >User Groups</label
    >
    <br />
    <textarea
      rows="8"
      cols="30"
      id="fragment-${fragmentEntryLinkNamespace}-usergroups"
    ></textarea>
  </div>
  <div>
    <span
      style="display: none"
      class="alert alert-danger"
      id="fragment-${fragmentEntryLinkNamespace}-error"
    ></span>
  </div>
</div>
