<div class="chart-fragment-container chart-container-${fragmentEntryLinkNamespace}" style="--chart-color: ${configuration.chartColor!};">
    <div class="alert alert-info d-none mb-3" id="info-${fragmentEntryLinkNamespace}"></div>
    <div class="alert alert-danger d-none mb-3" id="error-${fragmentEntryLinkNamespace}"></div>
    
    <div class="chart-wrapper">
        <canvas id="chart-${fragmentEntryLinkNamespace}" aria-hidden="true"></canvas>
        <div class="sr-only" id="fallback-table-${fragmentEntryLinkNamespace}">
            <!-- Accessible table data populated here -->
        </div>
    </div>
</div>
