.calculator-container {
    max-width: 400px;
    background: var(--body-background-color, var(--white, #fff));
    padding: var(--spacer-4, 1.5rem);
    border-radius: var(--border-radius, 0.25rem);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.calculator-container h2 {
    text-align: center;
    color: var(--primary, #007dad);
    font-size: var(--h2-font-size);
}

.calculator-container .slider-container {
    margin-bottom: var(--spacer-4, 1.5rem);
}

.calculator-container label {
    display: block;
    margin-bottom: var(--spacer-2, 0.5rem);
    font-weight: var(--font-weight-semi-bold);
}

.calculator-container input[type="range"] {
    width: 100%;
	  accent-color: var(--primary);
}

.calculator-container .summary {
    margin-top: var(--spacer-4, 1.5rem);
    background: var(--secondary-l3, var(--secondary-l3, #e7e7ed));
    padding: var(--spacer-3, 1rem);
    border-radius: var(--border-radius, 0.25rem);
}
