<div class="meta-form-container meta-form-${fragmentEntryLinkNamespace}" style="--btn-color: ${configuration.buttonColor!};">
    <h2 class="object-title mb-4"></h2>
    
    <form class="dynamic-form" id="form-${fragmentEntryLinkNamespace}">
        <div class="form-fields-wrap" id="fields-${fragmentEntryLinkNamespace}">
            <div class="meta-status">Discovering object fields...</div>
        </div>

        <div class="form-actions mt-5">
            <button type="submit" class="btn btn-primary btn-block p-3">
                Submit Entry
            </button>
        </div>
    </form>

    <div class="form-status-msg mt-3 d-none alert"></div>
</div>
