.site-logo a.logo-link,
.site-logo a.logo-link:hover {
  color: currentColor;
  text-decoration: none;
}

.site-logo .custom-logo .site-name,
.site-logo .logo-link .site-name {
  font-size: 1.375rem;
  font-weight: 600;
  line-height: 1.375rem;
}

.site-logo .logo-link img {
  max-height: var(--logo-max-height, 60px);
  max-width: var(--logo-max-width, 120px);
}
