:root {
  --custom-control-label-font-size: var(--text-paragraph-sm-font-size);
  --condensed-form-input-filled-border-color: var(--color-neutral-5);
  --tab-segment-item-icon-color-active: var(--tab-segment-item-color-active);
  --label-sm-icon-size: 0.75rem;
  --condensed-form-input-label-color: var(--color-neutral-5);
  --aspect-ratio-5: calc(9 / 16 * 100%);
  --aspect-ratio-6: calc(1 / 2 * 100%);
  --aspect-ratio-3: calc(2 / 3 * 100%);
  --tab-secondary-item-box-shadow-active: none;
  --tab-segment-item-icon-color-disabled: var(--tab-segment-item-color-disabled);
  --aspect-ratio-4: calc(5 / 8 * 100%);
  --card-aspect-ratio-item-offset: var(--spacer-4);
  --tab-segment-item-color-active: var(--color-action-primary-inverted);
  --color-state-error-darken-2: #6d0a0a;
  --aspect-ratio-1: 100%;
  --color-state-error-darken-1: #a40f0f;
  --aspect-ratio-2: calc(3 / 4 * 100%);
  --color-action-neutral-inverted: #fff;
  --display2-size: 5.5rem;
  --card-elevated-border-width: 0rem;
  --label-lg-font-size: var(--text-paragraph-sm-font-size);
  --tab-primary-item-box-shadow-active: none;
  --display3-weight: var(--font-weight-light);
  --label-lg-line-height: var(--text-paragraph-sm-line-height);
  --custom-control-label-color: var(--form-input-label-color);
  --table-spaced-row-border-color: var(--color-neutral-3);
  --tab-segment-item-background-color: transparent;
  --color-state-warning-darken-1: #a85100;
  --h3-font-size: 1.75rem;
  --color-state-warning-darken-2: #703600;
  --tab-tertiary-item-color-hover: var(--tab-tertiary-item-color);
  --form-input-label-font-weight: var(--font-weight-bolder);
  --blockquote-small-color: var(--color-neutral-6);
  --transition-collapse: 0.35s ease;
  --tab-secondary-item-font-size: var(--text-paragraph-font-size);
  --tab-primary-item-background-color-active: var(--tab-primary-item-background-color);
  --tab-tertiary-item-font-size: var(--text-paragraph-font-size);
  --condensed-form-feedback-item-margin: 0;
  --card-autofit-col-lg-width: 24rem;
  --card-flat-background-color-hover: var(--color-neutral-1);
  --tab-tertiary-vertical-item-border-left-width: 0;
  --form-feedback-item-line-height: var(--text-paragraph-sm-line-height);
  --tab-primary-item-active-bar-border-radius: 0.0625rem;
  --color-action-primary-inverted-disabled: #ffffff80;
  --text-paragraph-sm-line-height: 20px;
  --btn-lg-line-height: 28px;
  --table-sm-header-cell-min-height: 2.5625rem;
  --btn-border-radius: var(--border-radius-sm);
  --tab-secondary-item-icon-color-hover: var(--tab-secondary-item-icon-color);
  --tab-segment-item-color-disabled: var(--color-action-neutral-disabled);
  --link-text-decoration: none;
  --table-spaced-row-border-radius: var(--border-radius);
  --spacer-10: 10rem;
  --tab-primary-item-icon-color-disabled: var(--color-action-neutral-disabled);
  --btn-lg-font-size: 1.125rem;
  --condensed-form-input-filled-label-color: var(--color-neutral-8);
  --tab-primary-item-icon-color-hover: var(--color-action-primary-hover);
  --h5-font-size: 1.125rem;
  --label-lg-font-weight: var(--font-weight-bolder);
  --tab-primary-item-border-radius: 0;
  --tab-segment-border-color: var(--color-neutral-3);
  --blockquote-font-size: 1.25rem;
  --table-sm-font-size: var(--text-paragraph-font-size);
  --form-input-line-height: var(--text-paragraph-line-height);
  --card-flat-border-color-hover: var(--color-action-primary-hover);
  --transition-fade: 0.15s linear;
  --table-border-width: 0.0625rem;
  --tab-tertiary-horizontal-item-border-left-width: 0;
  --tab-segment-item-border-color: transparent;
  --card-outlined-background-color: var(--color-neutral-0);
  --card-body-padding-top: var(--spacer-3);
  --form-input-background-color: var(--color-neutral-0);
  --tab-tertiary-item-font-weight-active: var(--font-weight-bolder);
  --btn-inline-item-spacer-x: var(--spacer-1);
  --form-input-placeholder-font-weight: var(--font-weight-normal);
  --tab-secondary-horizontal-item-border-left-width: 0.0625rem;
  --color-action-primary-inverted-hover: #ffffff19;
  --table-sm-font-weight: var(--font-weight-normal);
  --card-outlined-border-width: 0.0625rem;
  --form-input-placeholder-font-size: var(--text-paragraph-font-size);
  --link-visited-color: #5E38BA;
  --form-input-label-margin-top: 0.25rem;
  --card-elevated-background-color-active: var(--color-neutral-0);
  --tab-secondary-horizontal-item-border-top-width: 0.0625rem;
  --color-state-success: #4aab3b;
  --h4-font-weight: var(--h1-font-weight);
  --color-neutral-10: #1d1c21;
  --tab-tertiary-vertical-item-border-top-width: 0;
  --color-action-primary-disabled: #a696e4;
  --tab-primary-item-border-color: var(--color-neutral-3);
  --h6-font-weight: var(--h1-font-weight);
  --tab-segment-item-border-color-disabled: var(--tab-segment-item-border-color);
  --tab-segment-item-box-shadow-hover: none;
  --text-paragraph-font-size: 1rem;
  --elevation-tight-7: 0 7px 18px;
  --form-text-font-size: var(--text-paragraph-sm-font-size);
  --elevation-tight-8: 0 12px 28px;
  --elevation-tight-9: 0 13px 36px;
  --card-border-radius: var(--border-radius);
  --elevation-tight-3: 0 2px 6px;
  --tab-secondary-item-color: var(--color-neutral-8);
  --elevation-tight-4: 0 2px 7px;
  --elevation-tight-5: 0 3px 12px;
  --elevation-tight-6: 0 3.5px 14px;
  --elevation-tight-1: 0 1px 3px;
  --tab-tertiary-item-icon-color-hover: var(--tab-tertiary-item-icon-color);
  --h2-font-weight: var(--h1-font-weight);
  --elevation-tight-2: 0 1.25px 4px;
  --card-flat-box-shadow-hover: none;
  --card-flat-background-color-active: var(--color-neutral-1);
  --tab-secondary-horizontal-item-padding-x: var(--spacer-3);
  --tab-secondary-horizontal-item-padding-y: var(--spacer-3);
  --condensed-form-input-filled-label-font-size: var(--text-paragraph-sm-font-size);
  --tab-primary-item-font-weight-active: var(--tab-primary-item-font-weight);
  --text-paragraph-line-height: 24px;
  --table-sm-line-height: var(--text-paragraph-line-height);
  --label-lg-padding-x: var(--spacer-2);
  --label-lg-padding-y: 0.125rem;
  --table-sm-header-cell-padding-y: var(--spacer-2);
  --spacer-0: 0;
  --table-sm-header-cell-padding-x: var(--spacer-2);
  --tab-primary-item-icon-color: var(--color-neutral-7);
  --lead-font-size: 1.25rem;
  --card-outlined-box-shadow: none;
  --tab-secondary-horizontal-item-border-bottom-width: 0.0625rem;
  --spacer-9: 9rem;
  --tab-segment-item-icon-font-size: var(--text-paragraph-font-size);
  --tab-tertiary-horizontal-item-padding-y: var(--spacer-3);
  --tab-tertiary-horizontal-item-padding-x: var(--spacer-3);
  --table-sm-cell-padding-x: var(--spacer-2);
  --btn-lg-border-radius: var(--border-radius);
  --table-sm-cell-padding-y: var(--spacer-2);
  --tab-primary-item-color-active: var(--color-action-primary-default);
  --spacer-2: 0.5rem;
  --spacer-1: 0.25rem;
  --tab-tertiary-item-font-weight: var(--font-weight-normal);
  --color-action-secondary-active: #b95804;
  --spacer-4: 1.5rem;
  --spacer-3: 1rem;
  --spacer-6: 4.5rem;
  --spacer-5: 3rem;
  --form-input-border-color: var(--color-neutral-5);
  --spacer-8: 7.5rem;
  --spacer-7: 6rem;
  --font-family-sans-serif: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --card-outlined-border-color: var(--color-neutral-3);
  --tab-secondary-vertical-item-border-left-width: 0.0625rem;
  --tab-primary-item-icon-font-size: var(--text-paragraph-font-size);
  --card-flat-border-color: var(--color-neutral-1);
  --color-action-secondary-hover-lighten: #faf0e6;
  --h1-font-size: 2.3125rem;
  --text-link-sm-font-size: 0.875rem;
  --card-horizontal-aspect-ratio-default: var(--aspect-ratio-1);
  --custom-control-color-hover: var(--color-action-primary-active-lighten);
  --container-max-sm: 540px;
  --color-focus: var(--color-brand-primary-lighten-3);
  --table-lg-cell-padding-x: var(--spacer-4);
  --table-lg-cell-padding-y: var(--spacer-4);
  --card-outlined-background-color-hover: var(--color-neutral-0);
  --table-image-max-height: 100px;
  --tab-secondary-item-background-color-active: var(--color-neutral-0);
  --color-brand-primary: #5924eb;
  --tab-segment-item-font-size: var(--text-link-small-font-size);
  --label-lg-icon-size: 0.875rem;
  --card-flat-box-shadow: none;
  --form-input-border-width: 0.0625rem;
  --card-outlined-box-shadow-hover: none;
  --tab-tertiary-horizontal-item-border-bottom-width: 0.0625rem;
  --card-flat-box-shadow-active: none;
  --color-accent-6-lighten: #defff7;
  --text-link-md-line-height: 24px;
  --btn-padding-y: 0.75rem;
  --table-sm-cell-min-height: 2.5625rem;
  --btn-padding-x: 1rem;
  --tab-primary-horizontal-item-border-left-width: 0;
  --tab-segment-item-inline-item-spacer-x: var(--spacer-3);
  --form-text-color: var(--color-neutral-7);
  --tab-segment-item-inline-item-spacer-y: var(--spacer-3);
  --nav-link-vertical-active-indicator-thickness: 0.25rem;
  --tab-segment-item-color: var(--color-neutral-6);
  --text-link-lg-font-size: 1.5rem;
  --table-lg-line-height: var(--text-paragraph-line-height);
  --display3-size: 3.0625rem;
  --tab-segment-item-icon-color: var(--tab-segment-item-color);
  --tab-segment-item-font-weight: var(--font-weight-bold);
  --color-action-secondary-inverted-hover: #ffffff19;
  --display-line-height: 1.2;
  --color-state-info-darken-1: #234481;
  --elevation-fluffy-2: 0 6.25px 20px;
  --color-state-info-darken-2: #172d56;
  --elevation-fluffy-1: 0 5px 15px;
  --table-color: var(--color-neutral-10);
  --color-state-success-darken-2: #25561e;
  --color-state-info-lighten-1: #8ca4d1;
  --color-state-info-lighten-2: #eaeff7;
  --custom-control-label-font-weight: var(--form-input-label-font-weight);
  --color-state-success-darken-1: #38802c;
  --tab-tertiary-item-color-disabled: var(--color-action-neutral-disabled);
  --tab-secondary-item-font-weight: var(--font-weight-normal);
  --font-weight-semi-bold: 600;
  --condensed-form-input-label-padding-x: 0.25rem;
  --tab-primary-item-color-disabled: var(--color-action-neutral-disabled);
  --tab-secondary-item-active-bar-thickness: 0.1875rem;
  --blockquote-small-font-size: 80%;
  --color-state-success-lighten-1: #9bd193;
  --color-state-success-lighten-2: #edf7eb;
  --color-action-primary-inverted: #fff;
  --color-accent-2: #a7e204;
  --color-accent-1: #eb2453;
  --tab-tertiary-item-color-active: var(--tab-tertiary-item-color);
  --color-accent-4: #221874;
  --color-accent-3: #c70d95;
  --color-action-neutral-hover: #34465b;
  --text-link-lg-line-height: 28px;
  --tab-tertiary-item-icon-color-disabled: var(--color-action-neutral-disabled);
  --color-brand-secondary-darken-3: #926800;
  --color-accent-6: #1ce4b5;
  --color-state-warning-lighten-1: #eeae73;
  --color-brand-secondary-darken-4: #614600FF;
  --color-accent-5: #bc24eb;
  --color-state-warning-lighten-2: #fcf0e6;
  --color-brand-secondary-darken-1: #f3ae00;
  --display1-size: 6rem;
  --nav-link-vertical-margin: 1rem 0;
  --color-brand-secondary-darken-2: #c28b00;
  --table-box-shadow: none;
  --tab-primary-horizontal-item-border-right-width: 0;
  --tab-segment-item-background-color-active: var(--color-action-primary-active);
  --tab-segment-item-border-radius: var(--border-radius-pill);
  --table-title-link-text-decoration: var(--link-text-decoration);
  --form-input-color-disabled: var(--color-neutral-4);
  --tab-primary-vertical-item-border-bottom-width: 0;
  --color-action-neutral-inverted-hover: #ffffff19;
  --form-input-label-line-height: var(--text-paragraph-line-height);
  --tab-tertiary-item-icon-color: var(--color-neutral-7);
  --color-brand-secondary-darken-5: #312300;
  --box-shadow-lg: var(--elevation-fluffy-3) rgba(0, 0, 0, .175);
  --tab-secondary-vertical-item-padding-y: var(--spacer-3);
  --label-lg-border-radius: var(--border-radius-xs);
  --tab-primary-vertical-item-border-top-width: 0;
  --tab-secondary-vertical-item-padding-x: var(--spacer-3);
  --color-chart-9: #3a6ba1;
  --tab-secondary-item-background-color-hover: var(--tab-secondary-item-background-color);
  --form-feedback-item-font-weight: var(--font-weight-normal);
  --form-feedback-item-padding: 0.375rem 1rem;
  --tab-tertiary-item-active-bar-color-active: var(--color-action-primary-default);
  --color-chart-12: #00520a;
  --tab-primary-item-color-hover: var(--color-action-primary-hover);
  --color-chart-10: #4d006e;
  --label-sm-padding-y: 0.0625rem;
  --color-chart-11: #8a6a00;
  --h5-font-weight: var(--h1-font-weight);
  --label-sm-padding-x: var(--spacer-1);
  --table-title-link-color-hover: var(--link-hover-color);
  --tab-secondary-item-active-bar-color-active: var(--color-action-primary-default);
  --tab-tertiary-item-line-height: var(--text-paragraph-line-height);
  --condensed-form-text-font-weight: var(--font-weight-normal);
  --hr-border-width: 1px;
  --table-font-size: var(--text-paragraph-font-size);
  --table-row-background-color-hover: var(--color-action-primary-hover-lighten);
  --h1-font-weight: var(--font-weight-bold);
  --text-paragraph-xs-line-height: 20px;
  --form-input-font-weight: var(--font-weight-normal);
  --tab-secondary-item-icon-font-size: var(--text-paragraph-font-size);
  --color-chart-0: #4d2ec9;
  --tab-secondary-item-font-weight-active: var(--font-weight-bold);
  --color-chart-2: #ad9ee9;
  --elevation-fluffy-4: 0 10px 35px;
  --color-chart-1: #fdcc4a;
  --elevation-fluffy-3: 0 10px 30px;
  --color-brand-secondary: #ffc124;
  --color-chart-4: #002c62;
  --elevation-fluffy-6: 0 17.5px 70px;
  --form-input-label-margin-left: 1rem;
  --color-chart-3: #fe8856;
  --elevation-fluffy-5: 0 15px 60px;
  --table-header-font-size: var(--table-font-size);
  --color-chart-6: #912600;
  --color-chart-5: #78cc88;
  --elevation-fluffy-7: 0 35px 90px;
  --color-chart-8: #41a0a6;
  --form-input-border-radius: var(--border-radius);
  --color-chart-7: #ff8585;
  --label-sm-border-radius: var(--border-radius-xs);
  --font-family-base: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --tab-tertiary-horizontal-item-active-bar-width: auto;
  --tab-tertiary-item-border-color: var(--color-neutral-3);
  --table-sm-header-line-height: var(--text-paragraph-line-height);
  --color-action-neutral-inverted-disabled: #ffffff80;
  --border-radius: 0.5rem;
  --table-row-background-color-alternate: var(--color-neutral-1);
  --table-header-line-height: var(--text-paragraph-line-height);
  --color-accent-1-lighten: #ffeaef;
  --label-sm-line-height: 1rem;
  --border-radius-circle: 50%;
  --tab-tertiary-vertical-item-border-bottom-width: 0.0625rem;
  --form-feedback-item-margin: 0.25rem 0 0;
  --table-line-height: var(--text-paragraph-line-height);
  --container-max-xl: 1248px;
  --tab-primary-vertical-item-border-left-width: 0.0625rem;
  --form-input-label-color: var(--color-neutral-8);
  --text-muted: var(--color-neutral-4);
  --tab-tertiary-item-active-bar-border-radius: 0.0625rem;
  --table-title-color: var(--color-neutral-9);
  --table-border-color: var(--color-neutral-3);
  --form-input-placeholder-color-focus: var(--color-neutral-4);
  --card-outlined-box-shadow-active: none;
  --tab-secondary-item-inline-item-spacer-y: var(--spacer-2);
  --tab-secondary-item-inline-item-spacer-x: var(--spacer-2);
  --tab-segment-background-color: var(--color-neutral-1);
  --card-body-padding-right: var(--spacer-4);
  --color-action-secondary-inverted-disabled: #ffffff80;
  --color-action-neutral-default: #2b3a4b;
  --h4-font-size: 1.5rem;
  --font-weight-bold: 700;
  --text-paragraph-xxs-font-size: 0.5625rem;
  --tab-tertiary-vertical-item-border-right-width: 0;
  --form-input-padding-x: 1rem;
  --form-input-padding-y: 0.6875rem;
  --color-action-primary-active: #3c249e;
  --condensed-form-input-label-font-weight: var(--font-weight-bolder);
  --table-header-vertical-align: middle;
  --card-autofit-col-md-width: 16rem;
  --tab-segment-item-color-hover: var(--color-action-primary-active);
  --card-elevated-background-color: var(--color-neutral-0);
  --color-action-neutral-active-lighten: #d5d8db;
  --color-brand-secondary-lighten-4: #ffeab6;
  --tab-segment-padding-y: var(--spacer-1);
  --color-brand-secondary-lighten-3: #ffe092;
  --tab-segment-padding-x: var(--spacer-1);
  --color-brand-secondary-lighten-6: #fffbf0;
  --display1-weight: var(--font-weight-light);
  --tab-secondary-item-active-bar-color-hover: var(--color-action-primary-default);
  --color-brand-secondary-lighten-5: #fff5db;
  --box-shadow-sm: var(--elevation-tight-1) rgba(0, 0, 0, .075);
  --color-brand-secondary-lighten-2: #ffd66d;
  --color-brand-secondary-lighten-1: #ffcb48;
  --color-accent-2-lighten: #f0ffc6;
  --form-text-font-weight: var(--font-weight-light);
  --tab-tertiary-item-background-color-active: var(--tab-tertiary-item-background-color);
  --tab-primary-item-background-color: transparent;
  --tab-secondary-horizontal-item-border-right-width: 0.0625rem;
  --font-weight-lighter: lighter;
  --tab-segment-item-background-color-disabled: var(--tab-segment-item-background-color);
  --tab-secondary-item-background-color: var(--color-neutral-1);
  --condensed-form-input-background-color: var(--color-neutral-2);
  --tab-primary-item-color: var(--color-neutral-7);
  --tab-primary-horizontal-item-active-bar-width: auto;
  --tab-tertiary-vertical-item-padding-x: var(--spacer-3);
  --tab-tertiary-vertical-item-padding-y: var(--spacer-3);
  --form-input-label-margin-bottom: 0.25rem;
  --color-neutral-0: #fff;
  --color-neutral-1: #f7f6f9;
  --color-neutral-2: #eeecf3;
  --hr-border-color: rgba(0, 0, 0, .1);
  --color-neutral-3: #dcd9e2;
  --hr-border-margin-y: 1rem;
  --color-neutral-4: #a7a3b2;
  --tab-secondary-item-background-color-disabled: var(--tab-secondary-item-background-color);
  --color-neutral-5: #898593;
  --color-neutral-6: #716c7f;
  --color-neutral-7: #5a5469;
  --color-neutral-8: #3f3851;
  --color-neutral-9: #332b4a;
  --tab-secondary-item-icon-color-active: var(--tab-secondary-item-icon-color);
  --tab-tertiary-item-border-color-active: transparent;
  --tab-segment-item-border-color-hover: var(--tab-segment-item-border-color);
  --text-paragraph-sm-font-size: 0.8125rem;
  --container-max-md: 720px;
  --card-elevated-box-shadow-active: var(--elevation-tight-3) rgba(89, 36, 235, 0.22);
  --border-radius-xxl: 1.5rem;
  --table-spaced-row-border-spacing: var(--spacer-2);
  --tab-segment-item-icon-color-hover: var(--tab-segment-item-color-hover);
  --table-lg-cell-min-height: 4.5625rem;
  --h6-font-size: 0.875rem;
  --h2-font-size: 2rem;
  --color-action-secondary-active-lighten: #f1decd;
  --custom-control-label-line-height: var(--text-paragraph-sm-line-height);
  --color-action-secondary-inverted: #fff;
  --form-input-placeholder-color-disabled: var(--color-neutral-3);
  --tab-segment-item-background-color-hover: var(--tab-segment-item-background-color);
  --link-visited-text-decoration: none;
  --border-radius-pill: 50rem;
  --card-outlined-border-color-active: var(--color-action-primary-active);
  --table-font-weight: var(--font-weight-normal);
  --tab-segment-item-line-height: var(--text-link-small-line-height);
  --display4-size: 2.6875rem;
  --border-radius-lg: 0.75rem;
  --tab-primary-horizontal-item-border-top-width: 0;
  --form-input-font-size: var(--text-paragraph-font-size);
  --tab-primary-vertical-item-border-right-width: 0;
  --custom-control-border-color: var(--color-action-primary-default);
  --label-item-spacer-x: 0.375rem;
  --btn-sm-inline-item-font-size: var(--btn-sm-font-size);
  --card-flat-border-width: 0.0625rem;
  --table-lg-header-line-height: var(--text-paragraph-line-height);
  --body-color: var(--color-neutral-9);
  --tab-segment-item-box-shadow-active: var(--elevation-tight-2) rgba(89, 36, 235, 0.25);
  --container-max-lg: 960px;
  --btn-sm-line-height: 20px;
  --table-border-radius: var(--border-radius);
  --box-shadow: var(--elevation-tight-3) rgba(0, 0, 0, .15);
  --tab-tertiary-horizontal-item-border-top-width: 0;
  --table-row-background-color: var(--color-neutral-0);
  --label-sm-font-weight: var(--font-weight-bolder);
  --btn-border-width: 0.0625rem;
  --btn-sm-padding-y: 0.5rem;
  --btn-sm-padding-x: 0.75rem;
  --table-header-cell-min-height: 3.5rem;
  --table-title-link-text-decoration-hover: var(--link-text-decoration-hover);
  --card-vertical-aspect-ratio-default: var(--aspect-ratio-3);
  --tab-secondary-item-color-disabled: var(--color-action-neutral-disabled);
  --table-spaced-row-box-shadow: none;
  --nav-link-horizontal-active-indicator-length: 100%;
  --text-paragraph-xs-font-size: 0.6875rem;
  --card-elevated-box-shadow-hover: var(--elevation-tight-7) rgba(89, 36, 235, 0.17);
  --tab-secondary-vertical-item-border-top-width: 0.0625rem;
  --color-brand-primary-lighten-5: #e3dbfc;
  --color-brand-primary-lighten-6: #fbfaff;
  --color-brand-primary-lighten-3: #ac92f5;
  --color-brand-primary-lighten-4: #c8b6f8;
  --tab-primary-vertical-item-active-bar-height: auto;
  --color-brand-primary-lighten-1: #7549ee;
  --color-brand-primary-lighten-2: #906df2;
  --btn-inline-item-font-size: var(--btn-font-size);
  --color-action-primary-hover-lighten: #f2f0fa;
  --tab-primary-item-icon-color-active: var(--color-action-primary-default);
  --form-feedback-item-font-size: var(--text-paragraph-sm-font-size);
  --tab-secondary-item-line-height: var(--text-paragraph-line-height);
  --form-input-label-reference-mark-color: var(--color-state-error);
  --card-elevated-background-color-hover: var(--color-neutral-0);
  --form-text-line-height: var(--text-paragraph-sm-line-height);
  --table-cell-min-height: 3.5rem;
  --table-cell-padding-x: var(--spacer-3);
  --card-elevated-border-color-active: transparent;
  --table-cell-padding-y: var(--spacer-3);
  --card-elevated-border-color: transparent;
  --color-state-warning: #e06c00;
  --tab-primary-item-font-size: var(--text-paragraph-font-size);
  --form-input-placeholder-color: var(--color-neutral-4);
  --table-header-font-weight: var(--font-weight-semi-bold);
  --color-action-secondary-hover: #d26404;
  --tab-primary-horizontal-item-padding-y: var(--spacer-3);
  --tab-primary-horizontal-item-padding-x: var(--spacer-3);
  --link-hover-text-decoration: underline;
  --font-weight-bolder: 800;
  --table-title-link-color: var(--link-color);
  --form-input-border-color-disabled: var(--color-neutral-2);
  --table-sm-header-font-weight: var(--font-weight-semi-bold);
  --table-header-background-color: var(--color-neutral-0);
  --tab-segment-item-border-width: 0;
  --tab-tertiary-item-color: var(--color-neutral-8);
  --color-accent-5-lighten: #f6daff;
  --color-action-secondary-disabled: #f6b882;
  --tab-primary-item-background-color-disabled: var(--tab-primary-item-background-color);
  --btn-sm-font-size: 0.875rem;
  --tab-tertiary-item-border-radius: 0;
  --color-action-primary-default: #5924eb;
  --table-title-line-height: var(--text-paragraph-line-height);
  --table-lg-font-weight: var(--font-weight-normal);
  --tab-secondary-item-border-color-active: var(--tab-secondary-item-border-color);
  --marked-text-background-color: var(--color-brand-secondary-lighten-5);
  --tab-tertiary-item-background-color: var(--color-neutral-0);
  --tab-secondary-item-border-color-hover: var(--tab-secondary-item-border-color);
  --form-text-margin: 0.25rem 1rem 0;
  --display4-weight: var(--font-weight-light);
  --card-flat-border-color-active: var(--color-action-primary-active);
  --nav-link-vertical-active-indicator-length: 100%;
  --form-input-color: var(--color-neutral-8);
  --body-bg: var(--color-neutral-0);
  --tab-segment-border-width: 0.0625rem;
  --display2-weight: var(--font-weight-light);
  --tab-tertiary-item-icon-color-active: var(--tab-tertiary-item-icon-color);
  --tab-secondary-item-active-bar-border-radius: 0.0625rem;
  --custom-control-label-padding-left: 0.75rem;
  --tab-secondary-item-border-color: var(--color-neutral-3);
  --card-elevated-box-shadow: var(--elevation-tight-3) rgba(89, 36, 235, 0.22);
  --form-input-placeholder-line-height: var(--text-paragraph-line-height);
  --tab-primary-item-line-height: var(--text-paragraph-line-height);
  --condensed-form-input-background-color-disabled: var(--color-neutral-1);
  --condensed-form-input-filled-label-font-weight: var(--font-weight-bolder);
  --tab-secondary-horizontal-item-active-bar-width: auto;
  --color-action-secondary-default: #ed7105;
  --table-lg-font-size: var(--text-paragraph-font-size);
  --label-sm-font-size: var(--text-paragraph-xs-font-size);
  --tab-primary-item-active-bar-color-hover: var(--color-brand-primary-darken-1);
  --text-small-caps-font-size: 0.875rem;
  --text-paragraph-lg-font-size: 1.25rem;
  --border-radius-sm: 0.375rem;
  --tab-tertiary-item-active-bar-color-hover: var(--color-action-primary-hover);
  --color-action-neutral-disabled: #959ca5;
  --condensed-form-input-label-font-size: var(--text-paragraph-font-size);
  --tab-tertiary-item-box-shadow-active: var(--elevation-fluffy-2) rgba(77, 133, 255, 0.1);
  --tab-tertiary-item-background-color-hover: var(--tab-tertiary-item-background-color);
  --color-accent-3-lighten: #ffeaf9;
  --custom-control-background-color: var(--color-neutral-0);
  --text-small-caps-line-height: 20px;
  --font-weight-normal: 500;
  --btn-sm-border-radius: var(--border-radius-xs);
  --table-lg-header-cell-padding-y: var(--spacer-4);
  --tab-secondary-item-icon-color: var(--color-neutral-7);
  --table-lg-header-cell-padding-x: var(--spacer-4);
  --table-spaced-row-border-width: 0;
  --tab-primary-item-active-bar-color-active: var(--color-brand-primary);
  --card-body-padding-left: var(--spacer-4);
  --color-action-primary-active-lighten: #ece9f5;
  --tab-secondary-item-icon-color-disabled: var(--color-action-neutral-disabled);
  --card-autofit-col-sm-width: 8rem;
  --tab-secondary-item-color-active: var(--color-neutral-10);
  --tab-secondary-vertical-item-border-right-width: 0.0625rem;
  --card-flat-background-color: var(--color-neutral-1);
  --table-lg-header-font-size: var(--text-paragraph-font-size);
  --tab-tertiary-item-inline-item-spacer-x: var(--spacer-2);
  --tab-tertiary-item-inline-item-spacer-y: var(--spacer-2);
  --table-header-cell-padding-x: var(--spacer-3);
  --table-header-cell-padding-y: var(--spacer-3);
  --card-outlined-border-color-hover: var(--color-action-primary-hover);
  --btn-font-weight: var(--font-weight-semi-bold);
  --form-input-label-font-size: var(--text-paragraph-font-size);
  --form-input-label-margin-right: 1rem;
  --tab-segment-item-padding-y: var(--spacer-3);
  --tab-segment-item-padding-x: 0.375rem;
  --tab-primary-vertical-item-padding-y: var(--spacer-3);
  --tab-primary-vertical-item-padding-x: var(--spacer-3);
  --table-row-background-color-active: var(--color-action-primary-active-lighten);
  --condensed-form-text-font-size: var(--text-paragraph-sm-font-size);
  --tab-primary-horizontal-item-border-bottom-width: 0.03125rem;
  --custom-control-border-color-disabled: var(--color-action-primary-disabled);
  --color-state-error-lighten-1: #eb7e7e;
  --nav-link-horizontal-active-indicator-thickness: 0.125rem;
  --color-state-error-lighten-2: #fbe8e8;
  --tab-tertiary-item-border-color-hover: var(--tab-tertiary-item-border-color);
  --color-brand-primary-darken-3: #210963;
  --color-accent-4-lighten: #e9e8f1;
  --color-brand-primary-darken-4: #110532;
  --condensed-form-input-label-margin-x: 0.75rem;
  --color-brand-primary-darken-5: #000;
  --tab-tertiary-horizontal-item-border-right-width: 0;
  --headings-line-height: 1.2;
  --color-action-neutral-active: #3d536b;
  --tab-primary-item-inline-item-spacer-x: var(--spacer-3);
  --tab-primary-item-inline-item-spacer-y: var(--spacer-3);
  --tab-tertiary-item-box-shadow-hover: none;
  --table-sm-header-font-size: var(--text-paragraph-font-size);
  --tab-secondary-item-color-hover: var(--color-neutral-10);
  --btn-line-height: 24px;
  --tab-segment-item-font-weight-active: var(--tab-segment-item-font-weight);
  --card-elevated-border-color-hover: transparent;
  --table-lg-header-font-weight: var(--font-weight-semi-bold);
  --link-color: var(--color-action-primary-default);
  --h3-font-weight: var(--h1-font-weight);
  --tab-secondary-item-box-shadow-hover: none;
  --color-brand-primary-darken-1: #4212c7;
  --color-brand-primary-darken-2: #320e95;
  --color-action-neutral-hover-lighten: #eaebed;
  --card-body-padding-bottom: var(--spacer-4);
  --card-outlined-background-color-active: var(--color-neutral-0);
  --btn-lg-inline-item-font-size: var(--btn-lg-font-size);
  --text-paragraph-lg-line-height: 24px;
  --table-title-font-weight: var(--font-weight-semi-bold);
  --tab-primary-item-background-color-hover: var(--tab-primary-item-background-color);
  --btn-font-size: 1rem;
  --tab-secondary-vertical-item-active-bar-height: auto;
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
  --tab-primary-item-font-weight: var(--font-weight-bold);
  --tab-primary-item-active-bar-thickness: 0.1875rem;
  --tab-primary-item-border-color-active: var(--tab-primary-item-border-color);
  --tab-segment-border-radius: var(--border-radius-pill);
  --color-action-primary-hover: #4429b3;
  --font-weight-light: 300;
  --link-hover-color: var(--color-action-primary-hover);
  --tab-tertiary-item-background-color-disabled: var(--tab-tertiary-item-background-color);
  --table-title-font-size: var(--text-small-caps-font-size);
  --text-link-md-font-size: 1rem;
  --transition-base: 0.2s ease-in-out;
  --nav-link-horizontal-margin: 0 1rem;
  --form-input-label-color-disabled: var(--color-neutral-8);
  --text-link-sm-line-height: 20px;
  --border-radius-xs: 0.25rem;
  --table-lg-header-cell-min-height: 4.5625rem;
  --table-header-color: var(--color-neutral-8);
  --form-feedback-item-border-radius: var(--border-radius);
  --text-small-caps-letter-spacing: 0.05em;
  --condensed-form-input-label-color-disabled: var(--color-neutral-4);
  --tab-secondary-item-border-radius: 0;
  --tab-tertiary-item-icon-font-size: var(--text-paragraph-font-size);
  --tab-primary-item-box-shadow-hover: none;
  --color-state-info: #2e5aac;
  --tab-tertiary-item-active-bar-thickness: 0.1875rem;
  --tab-secondary-vertical-item-border-bottom-width: 0.0625rem;
  --tab-segment-item-border-color-active: var(--tab-segment-item-border-color);
  --lead-font-weight: var(--font-weight-light);
  --table-row-color-hover: var(--table-row-color);
  --text-paragraph-xxs-line-height: 16px;
  --btn-lg-padding-y: 0.875rem;
  --btn-lg-padding-x: 1.125rem;
  --color-state-error: #da1414;
  --border-radius-xl: 1rem;
  --tab-primary-item-border-color-hover: var(--tab-primary-item-border-color);
  --font-size-base: var(--text-paragraph-font-size);
  --tab-tertiary-vertical-item-active-bar-height: auto;
}
