:root {
  --h4-font-size: 1.5rem;
  --font-weight-bold: 700;
  --nav-tabs-font-size: var(--font-size-sm);
  --panel-default-border-width: 0 0 0.0625rem 0;
  --nav-pills-link-padding-y: var(--nav-link-padding-y);
  --nav-pills-link-padding-x: var(--nav-link-padding-x);
  --sticker-danger-background-color: var(--white);
  --danger: #da1414;
  --success-d1: #226a33;
  --sticker-info-background-color: var(--white);
  --pagination-active-color: var(--body-color);
  --btn-padding-y-sm: 0.53125rem;
  --success-d2: #1c5629;
  --h2-font-size-tablet: 1.75rem;
  --btn-secondary-active-background-color: var(--gray-300);
  --panel-body-padding-x: 1rem;
  --panel-body-padding-y: 1rem;
  --h3-font-size: 1.75rem;
  --btn-outline-primary-hover-border-color: var(--primary-d1);
  --btn-outline-primary-inverted-hover-color: var(--white);
  --component-active-background-color: var(--primary);
  --gray-600: #6c757d;
  --secondary: #6b6c7e;
  --btn-outline-primary-color: var(--primary);
  --pagination-hover-background-color: var(--gray-100);
  --btn-secondary-background-color: var(--white);
  --modal-content-border-radius: var(--border-radius-xl);
  --info-d2: #234584;
  --info-d1: #294f98;
  --nav-tabs-link-hover-background-color: var(--gray-200);
  --pagination-font-size: var(--font-size-sm);
  --sticker-secondary-background-color: var(--white);
  --navigation-bar-link-active-stroke-color: var(--primary);
  --table-active-background-color: var(--table-hover-background-color);
  --btn-secondary-active-color: var(--gray-900);
  --yellow: #ffbb00;
  --h6-font-size: 0.875rem;
  --h2-font-size: 2rem;
  --link-text-decoration: none;
  --nav-tabs-link-padding-x: 1.25rem;
  --spacer-10: 6rem;
  --nav-tabs-link-padding-y: 0.375rem;
  --btn-outline-primary-inverted-color: var(--white);
  --btn-outline-primary-inverted-background-color: transparent;
  --table-head-background-color: var(--white);
  --btn-outline-primary-inverted-hover-background-color: rgb(from var(--primary-d1) r g b / 40%);
  --h5-font-size: 1.125rem;
  --btn-padding-x-xs: 0.5rem;
  --btn-monospaced-size-xs: 2rem;
  --nav-underline-link-hover-color: var(--primary-d1);
  --font-size-xs: 0.75rem;
  --nav-underline-link-color: var(--text-secondary-color);
  --border-radius-lg: 0.5rem;
  --btn-primary-hover-color: var(--white);
  --black: #000;
  --navigation-bar-link-active-color: var(--body-color);
  --table-cell-border-color: var(--gray-200);
  --teal: #1b7e6e;
  --h6-font-size-tablet: 0.875rem;
  --gray-700: #495057;
  --btn-secondary-border-color: var(--gray-600);
  --blue: #006eff;
  --panel-header-padding-y: 1rem;
  --panel-header-padding-x: 1rem;
  --purple: #aa33ff;
  --body-color: var(--gray-900);
  --sticker-warning-color: var(--warning);
  --btn-primary-color: var(--white);
  --btn-secondary-color: var(--gray-800);
  --sticker-danger-color: var(--danger);
  --pagination-padding-y: 0.5rem;
  --btn-primary-inverted-color: var(--black);
  --pagination-padding-x: 0.5rem;
  --secondary-d2: #474854;
  --sticker-success-background-color: var(--white);
  --table-border-radius: var(--border-radius-lg);
  --secondary-d1: #595a69;
  --dropdown-font-size: var(--font-size-base);
  --card-body-padding: 1rem;
  --alert-border-width: 0.0625rem;
  --red: #e60000;
  --nav-underline-link-padding-y: 0.75rem;
  --navigation-bar-link-color: var(--text-secondary-color);
  --nav-underline-link-padding-x: 1.25rem;
  --white: #fff;
  --warning: #b95000;
  --btn-secondary-inverted-hover-background-color: rgb(from var(--gray-600) r g b / 40%);
  --nav-pills-link-active-color: var(--body-color);
  --info: #2e5aac;
  --table-accent-background-color: var(--gray-100);
  --card-border-color: var(--gray-200);
  --btn-border-width: 0.0625rem;
  --card-border-radius: var(--border-radius-lg);
  --gray-400: #ced4da;
  --danger-l1: #f48989;
  --btn-primary-hover-background-color: var(--primary-d1);
  --warning-d2: #863a00;
  --warning-d1: #9f4500;
  --danger-l2: #feefef;
  --panel-default-border-color: var(--gray-400);
  --font-weight-base: 400;
  --btn-primary-background-color: var(--primary);
  --success: #287d3c;
  --font-size-sm: 0.875rem;
  --spacer-0: 0;
  --sticker-primary-color: var(--primary);
  --component-focus-inset-box-shadow: inset 0 0 0 0.125rem #688fe8, inset 0 0 0 0.25rem #fff;
  --nav-tabs-border-color: var(--gray-300);
  --spacer-9: 5rem;
  --table-cell-padding-x: 1rem;
  --table-cell-padding-y: 0.5rem;
  --nav-pills-font-size: var(--font-size-sm);
  --spacer-2: 0.5rem;
  --h2-font-size-mobile: 1.625rem;
  --spacer-1: 0.25rem;
  --pagination-background-color: transparent;
  --spacer-4: 1.5rem;
  --spacer-3: 1rem;
  --btn-primary-active-color: var(--white);
  --spacer-6: 2.5rem;
  --spacer-5: 2rem;
  --btn-padding-x-lg: 1.125rem;
  --btn-monospaced-size-lg: 3.5rem;
  --spacer-8: 4rem;
  --h1-font-size-tablet: 2.125rem;
  --btn-outline-primary-inverted-hover-border-color: var(--gray-600);
  --spacer-7: 3rem;
  --font-family-sans-serif: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --table-hover-background-color: var(--primary-l3);
  --link-hover-text-decoration: underline;
  --btn-secondary-inverted-hover-color: var(--white);
  --green: #458613;
  --nav-pills-border-radius: var(--border-radius-lg);
  --btn-outline-primary-inverted-active-border-color: var(--gray-600);
  --panel-title-font-weight: var(--font-weight-semi-bold);
  --gray-500: #adb5bd;
  --nav-pills-link-hover-color: var(--body-color);
  --h1-font-size: 2.5rem;
  --btn-outline-primary-inverted-active-color: var(--white);
  --component-active-color: var(--white);
  --primary-l0: #009bd7;
  --dropdown-link-active-background-color: var(--dropdown-link-hover-background-color);
  --primary-l2: #b8e4f5;
  --h5-font-size-mobile: 1.125rem;
  --primary-l1: #69c4e7;
  --pagination-active-stroke-color: var(--primary-l0);
  --primary-l3: #effaff;
  --card-box-shadow: 0 0.125rem 0.5rem rgb(from var(--gray-900) r g b / 8%);
  --headings-margin-bottom: 0rem;
  --btn-padding-y-xs: 0.375rem;
  --btn-outline-primary-inverted-active-background-color: rgb(from var(--primary-d2) r g b / 80%);
  --btn-primary-inverted-hover-color: var(--black);
  --label-font-size-lg: var(--font-size-sm);
  --nav-underline-font-size: var(--font-size-sm);
  --dropdown-link-active-color: var(--body-color);
  --success-l1: #5aca75;
  --cyan: #0077b3;
  --h4-font-size-tablet: 1.375rem;
  --nav-tabs-link-active-background-color: var(--white);
  --success-l2: #edf9f0;
  --sticker-font-weight: var(--font-weight-semi-bold);
  --component-disabled-opacity: 0.4;
  --btn-primary-inverted-active-background-color: var(--primary-l1);
  --sticker-warning-background-color: var(--white);
  --panel-border-radius: var(--border-radius-lg);
  --btn-padding-y: 0.6875rem;
  --gray-200: #e9ecef;
  --btn-secondary-hover-background-color: var(--gray-200);
  --headings-font-weight: var(--font-weight-bold);
  --btn-padding-x: 1rem;
  --font-family-serif: georgia, 'Times New Roman', times, serif;
  --btn-font-size-lg: var(--font-size-lg);
  --pagination-color: var(--text-secondary-color);
  --info-l2: #eef2fa;
  --btn-outline-primary-hover-color: var(--primary-d1);
  --info-l1: #89a7e0;
  --primary: #007dad;
  --pink: #e50082;
  --border-radius-sm: 0.125rem;
  --table-color: var(--body-color);
  --sticker-secondary-color: var(--gray-600);
  --navigation-bar-link-hover-color: var(--body-color);
  --btn-primary-active-background-color: var(--primary-d2);
  --nav-tabs-link-active-color: var(--body-color);
  --font-weight-semi-bold: 600;
  --nav-tabs-link-color: var(--text-secondary-color);
  --font-weight-normal: 400;
  --btn-secondary-inverted-active-color: var(--white);
  --nav-link-padding-y: 0.84375rem;
  --nav-underline-link-active-color: var(--primary-d2);
  --nav-link-padding-x: 1rem;
  --panel-title-font-size: var(--font-size-lg);
  --btn-primary-inverted-active-color: var(--black);
  --modal-content-box-shadow: 0 0.25rem 1rem rgb(from var(--gray-900) r g b / 20%);
  --card-background-color: var(--white);
  --btn-outline-primary-active-color: var(--primary-d2);
  --gray-300: #dee2e6;
  --h3-font-size-mobile: 1.5rem;
  --btn-font-weight: var(--font-weight-semi-bold);
  --sticker-info-color: var(--info);
  --card-hover-box-shadow: 0 0.125rem 0.75rem rgb(from var(--gray-900) r g b / 12%);
  --nav-tabs-border-radius: var(--border-radius-lg) var(--border-radius-lg) 0 0;
  --input-border-color: var(--gray-400);
  --btn-padding-y-lg: 0.84375rem;
  --h3-font-size-tablet: 1.5rem;
  --btn-outline-primary-active-background-color: var(--primary-l2);
  --btn-outline-primary-border-color: var(--primary);
  --btn-secondary-inverted-background-color: transparent;
  --pagination-hover-stroke-color: var(--gray-600);
  --secondary-l3: #e7e7ed;
  --btn-secondary-inverted-color: var(--white);
  --headings-line-height: 1.5;
  --text-secondary-color: var(--gray-700);
  --h5-font-size-tablet: 1.125rem;
  --btn-outline-primary-active-border-color: var(--primary-d2);
  --h6-font-size-mobile: 0.875rem;
  --link-color: var(--primary);
  --btn-primary-inverted-background-color: var(--primary);
  --table-head-font-weight: var(--font-weight-semi-bold);
  --gray-800: #343a40;
  --sticker-primary-background-color: var(--white);
  --btn-outline-primary-hover-background-color: var(--primary-l3);
  --pagination-link-border-radius: var(--border-radius);
  --table-head-color: var(--text-secondary-color);
  --danger-d1: #c31212;
  --component-focus-box-shadow: 0 0 0 0.125rem #fff, 0 0 0 0.25rem #688fe8;
  --warning-l2: #fff4ec;
  --warning-l1: #ff8f39;
  --danger-d2: #ab1010;
  --btn-monospaced-size-sm: 2.5rem;
  --indigo: #4d5fff;
  --pagination-hover-color: var(--body-color);
  --h4-font-size-mobile: 1.25rem;
  --dropdown-link-hover-background-color: var(--primary-l3);
  --font-family-base: var(--font-family-sans-serif);
  --btn-font-size: var(--font-size-base);
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
  --pagination-active-background-color: var(--primary-l3);
  --h1-font-size-mobile: 1.75rem;
  --border-radius: 0.25rem;
  --font-weight-light: 300;
  --btn-secondary-hover-color: var(--gray-900);
  --link-hover-color: var(--primary-d1);
  --component-focus-border-color: #88acff;
  --btn-font-size-sm: var(--font-size-sm);
  --btn-outline-primary-inverted-border-color: var(--gray-600);
  --sticker-border-radius: var(--border-radius-lg);
  --nav-pills-link-color: var(--text-secondary-color);
  --panel-border-color: var(--gray-200);
  --dropdown-box-shadow: 0 0.25rem 0.5rem rgb(from var(--gray-900) r g b / 12%);
  --font-size-lg: 1.125rem;
  --body-background-color: var(--white);
  --gray-100: #f7f8f9;
  --btn-primary-inverted-hover-background-color: var(--primary-l2);
  --gray-900: #212529;
  --input-background-color: var(--white);
  --secondary-l2: #cdced9;
  --orange: #cc4e00;
  --navigation-bar-font-size: var(--font-size-sm);
  --secondary-l1: #a7a9bc;
  --table-border-color: var(--gray-300);
  --secondary-l0: #9393a4;
  --btn-monospaced-size: 3rem;
  --label-border-radius: var(--border-radius);
  --sticker-success-color: var(--success);
  --btn-secondary-inverted-active-background-color: rgb(from var(--gray-900) r g b / 40%);
  --nav-pills-link-active-background-color: var(--primary-l2);
  --primary-d2: #004b68;
  --primary-d1: #00648a;
  --input-border-width: 0.0625rem;
  --btn-padding-x-sm: 0.75rem;
  --border-radius-xl: 1rem;
  --font-size-base: 1rem;
}
