.fragment_6534 .wrapper {
	background-color: transparent;
	padding: .75rem;
}

.fragment_6534 .action-card {
	display: inline-block;
	background-color: var(--color-brand-primary, transparent);
	text-align: center;
	border: 6px solid white;
	border-radius: 20px;
	padding: 1rem;
	width: 100%;
	min-height: 250px;
}

.fragment_6534 .action-card .card-content-heading {
	color: var(--color-neutral-0, white);
}
.fragment_6534 .action-card .card-content-hr {
	color: var(--color-neutral-0, white);
	line-height: 0.5em;
  position: relative;
  outline: 0;
  border: 0;
  text-align: center;
  height: 1em;
  opacity: 0.5;
	margin: unset;
	margin-bottom: 1rem;
}

.fragment_6534 .action-card .card-content-hr:before {
    content: '';
    background: linear-gradient(to right, transparent, var(--color-neutral-0, white), transparent);
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
  }

.fragment_6534 .action-card .card-content-text {
	color: var(--color-neutral-0, white);
}

.fragment_6534 .action-card .card-content-button {
	color: var(--color-brand-primary, black);
	background-color: var(--color-neutral-0, white);
}