.primary-card-${fragmentEntryLinkNamespace} .wrapper {
	background-color: transparent;
	padding: var(--spacer-2, .75rem);
}

.primary-card-${fragmentEntryLinkNamespace} .action-card {
	display: inline-block;
	background-color: var(--primary, transparent);
	text-align: center;
	border: 6px solid var(--white, white);
	border-radius: var(--border-radius-xl, 20px);
	padding: var(--spacer-3, 1rem);
	width: 100%;
	min-height: 250px;
}

.primary-card-${fragmentEntryLinkNamespace} .action-card .card-content-heading {
	color: var(--white, white);
}

.primary-card-${fragmentEntryLinkNamespace} .action-card .card-content-hr {
	color: var(--white, white);
	line-height: 0.5em;
  position: relative;
  outline: 0;
  border: 0;
  text-align: center;
  height: 1em;
  opacity: 0.5;
	margin: unset;
	margin-bottom: var(--spacer-3, 1rem);
}

.primary-card-${fragmentEntryLinkNamespace} .action-card .card-content-hr:before {
    content: '';
    background: linear-gradient(to right, transparent, var(--white, white), transparent);
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
  }

.primary-card-${fragmentEntryLinkNamespace} .action-card .card-content-text {
	color: var(--white, white);
}

.primary-card-${fragmentEntryLinkNamespace} .action-card .card-content-button {
	color: var(--primary, black);
	background-color: var(--white, white);
}