.user-personal-bar {
	align-items: center;
	display: flex;
	flex-direction: row;
	gap: 1rem;
	position: relative;
}

.user-personal-bar .sign-in {
	background-color: transparent;
}

.user-personal-bar .notification-indicator .lexicon-icon {
	fill: white;
	height: 1rem;
	width: 1rem;
}

.user-personal-bar .sign-in .sign-in-label {
	color: var(--primary, #71d2e8);
	font-weight: 700;
	line-height: 0.75rem;
	white-space: nowrap;
}