<div class="user-personal-bar">
[#assign is_signed_in = themeDisplay.isSignedIn()]
[#if is_signed_in]
<span class="d-md-inline-flex d-none user-full-name">
	Hi&nbsp;${user.getFirstName()}
</span>
[/#if]
[#if !is_signed_in]
	[#if configuration.enableSignInLink]
	<span class="sign-in text-default" role="presentation">
		<a class="sign-in text-default" data-redirect="true" onclick="document.querySelector('#loginCardContainer').style.visibility = 'visible';">
			<span class="sign-in-label">${languageUtil.get(locale, "sign-in")}</span>
		</a>
	</span>
	[/#if]
[#else]
[@liferay.user_personal_bar /]
[/#if]

[#if is_signed_in]
	[#assign
		enableNotificationIndicator = configuration.enableNotificationIndicator
	  enableCustomLink = configuration.enableCustomLink
		notification_count = configuration.notificationCount /]
	[#if enableNotificationIndicator]
		[#if enableCustomLink]
			[#assign notification_link =
				themeDisplay.getPortalURL() + '/group' + configuration.customNotificationLink /]
		[#else]
			[#assign notification_link =
				themeDisplay.getPortalURL() + '/group' + themeDisplay.layout.getGroup().friendlyURL + '/manage?p_p_id=com_liferay_notifications_web_portlet_NotificationsPortlet&p_p_lifecycle=0' /]
		[/#if]
	[#else]
		[#assign notification_link = "javascript:;" /]
	[/#if]
	<a href="${notification_link}">
		<span class="notification-indicator">
			[@clay["icon"] symbol="bell-on" /]
		</span>

		[#if notification_count gt 0]
			<span class="badge notification-count">
				<span class="badge-item badge-item-expand">${notification_count}</span>
			</span>
		[/#if]
	</a>
[/#if]
</div>