[#assign is_signed_in = themeDisplay.isSignedIn()]
[#if !is_signed_in]
[#assign preferences = freeMarkerPortletPreferences.getPreferences("portletSetupPortletDecoratorId", "barebone") /]
<div id="loginCardContainer">
	<div class="close-button">
	<a class="btn btn-primary" href="javascript:void(0)" onclick="$('#loginCardContainer').toggle();" id="hide-sign-in" rel="nofollow">X</a>
	</div>

	<div id="loginCardArea">
		[@liferay_portlet["runtime"]
		defaultPreferences=preferences
		portletName="com_liferay_login_web_portlet_LoginPortlet"
		/]
	</div>
</div>
[/#if]